---
layout: layouts/base.njk
---
<div class="locations">
	<div clas="location">
		<h3>South Jordan</h3>
		<p>Opening soon!</p>
		<p>Sweet digs. Been here a while, really cool</p>
	</div>
	<div clas="location">
		<h3>Pleasant Grove</h3>
		<p>Sweet digs. Been here a while, really cool</p>
	</div>


</div>

{{ content | safe }}
